body{
	font-family: sans-serif;
	background-color: #FFD500;
}

.button-wrap{
	display: flex;
	justify-content: end;
	margin-bottom: 40px;
}
.cart-button{
	border: solid 1px black;
	background-color: #fffacd;
	border-radius: 30px;
	cursor: pointer;
	min-width: 100px;
	min-height: 40px;
}
.goods-list {
	display: flex;
	justify-content: space-between;
}
.goods-item{
	background-color: #FF8C00;
	min-width: 200px;
	min-height: 200px;
	text-align: center;
}
.goods-item img{
	max-width: 200px;
}
.goods-item h3{
	text-transform: uppercase;
}